@CHARSET "UTF-8";
body, html {
	background-color: #eee; 
	margin: 0; 
	padding: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

a::hover {
	cursor: pointer;
}

/*
 *   navbar
 */
#navbar {
    width: 100%;
    background-color: black; 
    color: #00ccff; 
    white-space: nowrap; 
    height: 5vh;
    line-height: 5vh;
    font-size: 20px;
}

.subnav {
    width: 48%; 
    display: inline-block; 
}
.subnav:first-child {
	margin-left: 2%;
}
.navbtn {
	display: inline-block;
	margin-right: 15px; 
	position: relative;
}      
.middleOut:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	margin-top: -6px;
	background: transparent;
	transition: width .3s ease, background-color 0s ease;
}
.middleOut:hover:after {
	width: 100%;
	background: #00ccff;
}
#notification {
	width: 15px;
	height: 15px;
	background-color: red;
	border: 2px solid white; 
	border-radius: 50%;
	position: absolute; 
	top: 5px;
	left: 65px;
	display:none;
}

input {
	width: 100%;
	font-size: 20px;
	background-color: #eee;
	padding: 10px;
	border: none;
	border-bottom: solid 2px #c9c9c9;
	transition: border 0.3s;
}
input:focus,
input.focus {
	outline: none;
	border-bottom: solid 2px #00ccff;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	color: black;
	-webkit-box-shadow:0 0 0 50px #eee inset; 
    -webkit-text-fill-color: #999;
}


.half_course {
	display: block;
	width: 100%;
	vertical-align: top;
}
#search_results {
	overflow-y: scroll;
	height: 400px;
}
	
.course {
	white-space: nowrap;
	width: 80%;
	margin-left: 10%;
	transition: 0.1s;
}
.half_course {
	display: inline-block;
	width: 50%;
}

.course h2 {
	color: inherit;
	margin:0;
	font-size: 60px;
}
.courseid, .coursename {
	display: inline-block;
}
.score {
	display: inline-block;
	width: 20%;
}
.info {
	white-space: normal;
}
.info td {
	vertical-align: top;
	text-align: left;
}
.tag {
	color: white;
	border-radius: 5px;
	padding: 3px 5px;
	background-color: #00ccff;
	display: inline-block; 
}
.course:after {
	content:"";
	width: 60%;
	margin-left: 20%;
	background-color: #999;
	height: 1px;
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
}
.course:last-child:after {
	background-color: #eee;
}